body{
    background-color: rgb(11, 221, 151);
    color:azure;
    font-family: "Bitcount Grid Double", system-ui;
    margin: 0px;
}
header{
    font-size: 50px;
    border-bottom: dashed 5px pink;
    text-align: center;
    /*margin: 30px;*/
    padding: 30px;
    color: rgb(204, 21, 128);
}
h1{
    font-size: 30px;
}
p{
    font-size:20px;
}

section{
background-color: rgb(34, 34, 200);
padding-bottom: 80px;
display: flex;
justify-content: center;

}